extends layout 

block content
	.ui.container
		h2.ui.header Admin
		.orders.ui.container
			.ui.segments
				.ui.segment.clearing
					h4 Order Main Contents
					p Special comments
					span status
					.ui.right.floated.button.green Pick Up
				.ui.segment.clearing
					h4 Order Main Contents
					p Special comments
					span status
					.ui.right.floated.button.green Pick Up

