extends layout 

block content
	.ui.container
		h2.ui.header Admin
		.orders.ui.container
			.ui.segments
				for order in orders
					form.ui.form(action='/orderComplete', method='post')
						.ui.segment.clearing
							h4= order.main
							p= order.special
							input(type='hidden', name='uid' value=`${order.uid}`)
							input(type='hidden', name='phoneNumber', value=`${order.phoneNumber}`)
							button.ui.right.floated.button.green(type='submit') Finished


