extends layout

block content
  .ui.container
    h1.ui.header JJsX
    h3.ui.header Login with UI and password
    .form.ui.container.fluid
      form.ui.form(action='/login', method='post')
        .field
          label Uni
          input(name='uni')
          label password
          input(name='password', type='password')
        button.ui.secondary.button(type='password') sign in
